html { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    font-size: 20px;
    letter-spacing: 1px;
}

body {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #303030; 
  }
  
a:visited {
    text-decoration: none;
    color: #303030;
  }
  
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 21px 20px;
    /* top: 40px;
    display: flex;
    justify-content: flex-end;
    width: 100%; */

}

li {
    display: inline;
    padding: 21px 20px;
}

li.links a:hover {
    color: #5D9EFF;
}

a.donors {
    color: #5D9EFF;
}

li.donors {
    float: right;
}

li.logo a{
    color: #FF6868;
    font-size: 40px;
}

div.top {
    height: 110px;
    position: relative;
}

div.main {
    height: 80vh;
    background-color: #D7C0C0;
}

div.soon {
    padding: 200px;
    text-align: center;
    font-size: 50px;
}

form.form {
    position: absolute;
    left: 20vw;
    top: 150px;
}

form.form div.text {
    font-size: 50px;
}

input.form {
    margin-top: 5px;
}

div.title {
    font-size: 72px;
    position: absolute;
    top: 30vh;
    /* left: 10vw; */
}

div.titletext {
    float: left;
    padding-left: 7vw;
    padding-right: 7vw;
}

div.logo {
    float: left;
    padding-left: 7vw;
}

input[type=text] {
    padding: 15px 20px;
    border: 1px solid #383838;
    border-radius: 7px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-size: 20px;
}

input[type=submit] {
    padding: 15px 20px;
    background-color: #FF6868;
    border-radius: 7px;
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal;
    font-size: 20px;
}