{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>NoTp | Need a roll of toilet paper?</title>
        <link rel="stylesheet" type="text/css" href="{% static 'notp/style.css' %}">
    </head>
    <body>
        <div class="flex-container"> 
            <div class="top">
                <div class="menu">
                    <span class="logo">
                        <a href="{% url 'notp:index' %}">No<b>Tp</b></a> 
                    </span>
                    <span class="links">
                        <a class="about" href="{% url 'notp:about' %}">About</a>
                        <a class="donors" href="{% url 'notp:form' %}">Donors</a>
                    </span>
                </div>
            </div>

            <div class="main">
                About.
            </div>
            
            <div class="bottom"></div>
            
        </div>
    </body>
</html>