{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>NoTp | Need a roll of toilet paper?</title>
        <link rel="stylesheet" type="text/css" href="{% static 'notp/style.css' %}">
        <link rel="icon" href="{% static 'notp/roll.png' %}"
    </head>
    <body>
        <div class="top">
            <ul class="menu">
                <li class="logo"><a href="{% url 'notp:index' %}">No<b>Tp</b></a></li>
                <li class="links"><a class="moreitems" href="{% url 'notp:moreitems' %}">More Items</a></li>
                <li class="links"><a class="about" href="{% url 'notp:about' %}">About</a></li>
                <li class="donors" style="float:right"><a class="donors" href="{% url 'notp:form' %}">Donors</a></li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <div class="titletext">
                    Need a roll of
                    <br>
                    <b>toilet paper?</b> 
                    <form action="{% url 'notp:searchresult' %}" method="GET">
                        <input name="q" type="text" placeholder="Enter your zip code">
                        <input type="submit" value="Find a roll"></input>
                    </form>
                </div>
                <div class="logo">
                    <img src="{% static 'notp/roll.png' %}" alt="logo" height="450" width="270">
                </div>
            </div>
        </div>
        
        <div class="bottom"></div>
            
    </body>
</html>